
<section class="slider_section">
    <div class="slider_container">
        <div class="slide">
            <img src="../../../assets/hero-bg.jpg">
            <div class="slide_content">
                <h1>A SocioAuction Platform</h1>
            <h2>Future of Marketing</h2>
            </div>
        >
        </div>
        <!-- Add more slides here -->
    </div>
</section>

<!-- Other sections and content -->
<section class="how_it_works_section">
    <h2 class="how_it_works_heading">How It Works?</h2><br>
    <div class="how_it_works_container">
        <div class="how_it_works_box">
            <h3>Step 1</h3>
            <p>    Create a Post </p>
        </div>
        <div class="how_it_works_box">
            <h3>Step 2</h3>
            <p> Auction will start</p>
        </div>
        <div class="how_it_works_box">
            <h3>Step 3</h3>
            <p>  Lucky one  who offers more will get the acuted item</p>
        </div>
        <div class="how_it_works_box">
            <h3>Step 4</h3>
            <p>Finally 1 2 3 Sold!</p>
        </div>
    </div>
</section>
