/* Styles for the main container */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Styles for the wrapper */
.wrapper {
    width: 700px;
    background: #fff;
    border-radius: 15px;
    height: auto;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    color: #30ae69;
}
/* Styles for the title of the form */
.wrapper .title {
    font-size: 32px; /* Font size */
    font-weight: 600; /* Font weight */
    text-align: center; /* Text alignment */
    color: #30ae69; /* Text color */
    user-select: none; /* Prevent text selection */
    border-radius: 15px 15px 0 0; /* Border radius */
    background-color: black;
    color: #fff; /* Text color */
    padding: 20px 0; /* Padding */
    margin-bottom: 20px;
}

/* Styles for the form */
form {
    display: flex;
    flex-direction: column;
}

/* Styles for form fields */
.field {
    margin-bottom: 20px;
}

/* Styles for input fields */
.field input {
    height: 40px;
    width: 100%; /* Set width to 100% */
    outline: none;
    font-size: 16px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Styles for focused or valid input fields */
.field input:focus,
.field input:valid {
    border-color: #30ae69;
}

/* Styles for field labels */
.field label {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px;
}

/* Styles for submit button */
button[type="submit"] {
    height: 50px; /* Increased height */
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #30ae69;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Styles for submit button hover */
button[type="submit"]:hover {
    background-color: #259c57;
}

/* Error message styles */
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
