.footer {
    background-color: black; /* Set background color to black */
    color: white; /* Set text color to white */
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    /* Add padding for spacing */
}

.footer_content {
    max-width: 1200px; /* Set maximum width for content */
    margin: 0 auto; /* Center content */
}


